<h1>Showing movies details</h1>

<p><strong>Title: </strong><%= @movies.name %></p>
<p><strong>Geners: </strong><%= @movies.geners %></p>
<p><strong>Year: </strong><%= @movies.year %></p>
<p><strong>director: </strong><%= @movies.director %></p>
<p><strong>Main_star: </strong><%= @movies.main_star %></p>
<%= link_to 'Back',movies_path%>
