 <%
=begin%>
 Logged in as <%= current_user.username %>

 <%= link_to 'my favorite movies list', users_list_path%>

<h1>Movies listing page</h1>
<table border="2">
  <thead>
    <tr>
      <th>name</th>
      <th>geners</th>
      <th>year</th>
      <th>director</th>
      <th>main_star</th>
      <th>show</th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %> 
      <tr>
        <td><%= movie.name %></td>
        <td><%= movie.geners %></td>
        <td><%= movie.year %></td>
        <td><%= movie.director %></td>
        <td><%= movie.main_star %></td>
        <td><%= link_to 'show', user_path(movie.id)%></td>
      </tr>
    <% end %>
  </tbody>
</table>
 
<%
=end%>
